* {
  margin: 0;
  padding: 0;
}

.h1-class {
  background-color: rgb(167, 73, 104);
  border: 1px solid black;
  margin: 1% 0;
  width: 40%;
  height: 100px;
  display: inline-block;
}

.p-class {
  background-color: yellowgreen;
  border: 1px solid black;
  margin: 1% 0;
  width: 40%;
  display: inline-block;
}

.div-class {
  background-color: lawngreen;
  border: 1px solid black;
  margin: 1% 0;
  width: 60%;
}

.ul-class {
  background-color: rgb(50, 68, 205);
  border: 1px solid black;
  margin: 1% 0;
  width: 70%;
  display: inline;
}

.ul-class li {
  display: inline;
}

.span-class {
  background-color: rgb(148, 205, 50);
  border: 1px solid rgb(0, 0, 0);
  margin: 1% 0;
  width: 70%;
  height: 100px;
  display: block;
}

.span-class-2 {
  background-color: rgb(76, 80, 200);
  border: 1px solid rgb(0, 0, 0);
  margin: 1% 0;
  width: 70%;
  height: 100px;
  display: inline-block;
}

.a-class {
  background-color: rgb(205, 50, 97);
  border: 1px solid black;
  margin: 1% 0;
  height: 50px;
  display: block;
}

.img-class {
  background-color: rgb(192, 205, 50);
  border: 1px solid black;
  margin: 1% 0;
  width: 40%;
}
