* {
  margin: 0;
  padding: 0;
}

.nothing {
  background-color: bisque;
}
.grand-parent {
  background-color: red;
  border: 1px solid yellow;

  /* to center any element use margin:auto*/
  /* margin: auto; */

  /* to provide individual gaps(margin)*/
  /* margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%; */

  /*--short hand*/
  /*--    top/bottom   right/left  ---- */
  /* margin: 10% 2%; */

  /*--    top right bottom left  ---- */
  margin: 10% 5% 5% 6%;
}

.parent {
  background-color: rgb(9, 186, 68);
  border: 1px solid rgb(140, 140, 19);

  /* margin: 5% 2% 10% 5%; */
  margin: 5%;

  /* padding: 5%; */

  /* padding: 2% 6% 10% 20%; */
  padding: 10% 20%;
}

.child {
  border: 1px solid rgb(110, 192, 215);
}
