.external {
  background-color: indianred;
  width: 500px;
}

.fig {
  width: 30%;
  margin: auto;
  border: 2px solid red;
  padding: 1%;
  border-radius: 5px;
}

.fig-img {
  border-radius: 5px;
  width: 100%;
}

.fig-caption {
  text-align: center;
}
